.women-div {
  position: relative;
  overflow: hidden;
}

.parent {
  padding-left: 6%;
}

.child {
  float: left;
  width: 31.8rem;
  margin-bottom: 5%;
}

.child img {
  width: 30rem;
  height: 30rem;
  height: 100%;
}

.child p {
  font-family: "Gotham Pro", sans-serif;
  font-size: 1.2rem;
  font-style: normal;
  line-height: 1.8rem;
}

.side-nav {
  left: 9.3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
}

.side-nav a {
  text-decoration: none;
  color: #383838;
  font-size: 1.8rem;
  position: relative;
  margin-left: 3rem;
  font-family: "Gotham Pro", sans-serif;
  line-height: 3.8rem;
}

.side-nav .active {
  display: flex !important;
  align-items: center !important;
  gap: 5rem;
  position: relative;
  right: 2.5rem;
}

.side-nav .active img {
  width: 3.5rem;
  height: 0.2rem;
  margin-left: -6.3rem;
}

.active-two-heading {
  display: flex;
  position: relative;
  justify-content: space-around;
  align-items: center;
}

.active-two-heading img {
  width: 2rem;
  height: 0.2rem;
}

.active-two-heading p {
  font-size: 1.4rem;
  line-height: 2.1rem;
  font-family: "Gotham Pro", sans-serif;
  color: #383838;
}

.side-nav-two {
  position: relative;
  margin-top: 5rem;
}

.active-two-heading select {
  font-family: "Gotham Pro", sans-serif;
  color: #383838;
  font-size: 1.4rem;
  border: none;
  background-color: inherit;
  text-align: center;
  outline: none;
}

.non-active {
  display: flex;
  position: absolute;
  right: 5.2rem;
  gap: 6.4rem;
  font-size: 1.4rem;
  padding-top: 2.5rem;
  color: #383838;
  font-family: "Gotham Pro", sans-serif;
  align-items: center;
}

.active-two-heading p {
  width: 3rem;
  left: 0.4rem;
  position: relative;
}

.active-two-heading select {
  width: 10rem;
  right: 0.5rem;
  position: relative;
}

.non-active p {
  width: 10rem;
  left: 11rem;
  position: relative;
}

.non-active select {
  border: none;
  color: #383838;
  font-family: "Gotham Pro", sans-serif;
  outline: none;
  background-repeat: no-repeat;
  text-align: center;
  width: 10rem;
  left: 2.3rem;
  position: relative;
}

.div-two {
  top: 6.5rem;
}

.div-three {
  top: 11rem;
}

.new-page-button {
  display: flex;
  gap: 2.2rem;
  margin-bottom: 10rem;
  justify-content: center;
  position: relative;
}

.new-page-button img {
  bottom: 0.45rem;
  position: relative;
  left: 2rem;
  width: 2.1rem;
}

.new-page-button a {
  color: #383838;
  cursor: pointer;
  letter-spacing: 1.8rem;
  font-family: "Gotham Pro", sans-serif;
  text-transform: uppercase;
  font-size: 1.4rem;
}


@media screen and (min-width: 1024px) {
  .active-two-heading {
    position: relative;
  }

  .active-two-heading p {
    margin-left: 1rem;
  }

  .main-products-div {
    display: flex;
    width: 100%;
    flex-direction: row;
    position: relative;
  }

  .spaNone {
    width: 76%;
  }

  .spaNtwo {
    width: 24%;
  }

  .side-nav-two {
    position: relative;
  }

  .non-active {
    position: relative;
    margin-right: 2.4rem;
  }

  .non-active p {
    width: 1rem;
    left: 0rem;
  }
}
