:root {
  --swiper-theme-color: #383838;
}

.mySwiper {
  position: relative;
  background-color: #fff;
}

.slider-div .slider-div-images {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.slider-div-images .slide-image-one {
  width: 28rem;
  height: 100%;
  padding-top: 5%;
}

.slider-div-images .logo {
  width: 15.5rem;
  height: 12rem;
  padding-top: 15%;
  right: 50%;
  position: absolute;
}

.slider-div-images .slide-image-two {
  width: 75%;
  margin-left: 18%;
}

.swiper-pagination-bullet > img {
  background: url(../slideControl.png);
  height: 1.5rem;
  width: 3rem;
  gap: 3rem;
  display: flex;
}

.swiper-pagination-bullet-active > img {
  height: 2rem;
}
.slider-div-images p {
  display: none;
}

.swiper {
  height: 82vh;
}

@media screen and (max-width: 768px) {
  .logo {
    visibility: hidden;
  }

  .slider-div-images .slide-image-one {
    margin: auto;
    top: 13rem;
    position: relative;
  }

  .grain-texture {
    position: absolute;
    top: 10%;
  }

  .slide-image-two {
    opacity: 10%;
    position: relative;
  }

  .ssa {
    bottom: 15rem;
    position: relative;
  }

  #swiper-slide {
    height: 70rem;
  }
}

@media screen and (min-width: 768px) {
  .ssa {
    bottom: 4rem;
    position: relative;
  }

  .slide-image-two {
    left: 3.3rem;
    position: relative;
  }

  .slider-div-images .slide-image-one {
    width: 20rem;
    left: 3.3rem;
    position: relative;
  }

  .slider-div-images .logo {
    left: 33%;
    z-index: 1;
  }
}

@media screen and (min-width: 1024px) {
  .ssa {
    position: relative;
  }

  .slider-div-images .slide-image-one {
    width: 28rem;
  }
}
